.language-selector {
    &__button {
        display: flex;
        align-items: center;
        gap: 8px;
        background: transparent;
        border: none;
        color: rgba(255, 255, 255, 0.8);
        padding: 8px 12px;
        border-radius: 6px;
        cursor: pointer;
        font-size: 14px;
        transition: all 0.3s ease;

        &:active {
            transform: scale(0.98);
        }
    }

    &__flag {
        font-size: 18px;
        line-height: 1;
    }
    &__img{
        width: 25px;
        height: 16px;
        object-fit: cover;
        border-radius: 2px;
        margin-top: 6px;
    }

    &__text {
        font-weight: 500;
    }
    &__text--light {
        color: rgba(0, 0, 0, 0.8);
    }

    &__icon {
        transition: transform 0.3s ease;
    }
    &__icon--light {
        color: rgba(0, 0, 0, 0.8);
    }

    @media (max-width: 992px) {
        display: none;
    }
}
