.dashboard {
    padding: 274px 0 30px 0;
    min-height: calc(100vh - 70px);
    background-color: #1a1d2e;
    &__light {
        background-color: #f4f6f9;
    }

    &__grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
        gap: 24px;
        margin-bottom: 32px;
    }

    @media (max-width: 1200px) {
        &__grid {
            grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
            gap: 20px;
        }
        
    }

    @media (max-width: 992px) {
        &__grid {
            grid-template-columns: repeat(auto-fit, minmax(350px, 2fr));
            gap: 18px;
        }
        padding: 200px 0 30px 0;
    }

    @media (max-width: 768px) {
        &__grid {
            grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
            gap: 16px;
        }
        padding: 200px 0 30px 0;
    }

    @media (max-width: 576px) {
        &__grid {
            grid-template-columns: 1fr;
        }
        padding: 200px 0 30px 0;
    }
}
