.header-main {
    background-color: #1e2139;
    padding: 26px 20px 30px 30px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;

    @media (max-width: 992px) {
        padding: 10px 10px 30px 30px;
    }

    &__wrapper {
        display: flex;
        flex: 1;
    }

    &__content {
        flex: 1;

    }

    &__title {
        font-size: 18px;
        font-weight: 700;
        color: #ffffff;
        margin: 0 0 8px 0;
    }

    &__breadcrumb {
        display: flex;
        align-items: center;
        gap: 4px;
        font-size: 13px;
    }

    &__crumb {
        color: rgba(255, 255, 255, 0.6);
        display: flex;
        align-items: center;
        gap: 4px;

        &:last-child {
            color: rgba(255, 255, 255, 0.8);
        }
    }

    &__separator {
        color: rgba(255, 255, 255, 0.4);
    }

    &__stats {
        display: flex;
        gap: 16px;
        justify-content: flex-end;
    }

    &__stat-card {
        border-radius: 8px;
        min-width: 150px;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }


    &__stat-value {
        font-size: 18px;
        font-weight: 600;
        color: #ffffff;
        width: 100px;
        height: 50px;
        margin-bottom: 10px;
    }

    &__stat-label {
        font-size: 12px;
        color: rgba(255, 255, 255, 0.6);
    }

    @media (max-width: 768px) {
        flex-direction: column;
        padding: 16px 12px;

        &__title {
            font-size: 22px;
        }

        &__stats {
            width: 100%;
            flex-wrap: wrap;

            &-card {
                flex: 1;
                min-width: 100px;
                padding: 12px;
            }
        }
    }
}