.notification {
    position: relative;

    &__button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        background: transparent;
        border: none;
        border-radius: 6px;
        color: rgba(255, 255, 255, 0.7);
        cursor: pointer;
        transition: all 0.3s ease;
        position: relative;

        svg {
            transition: transform 0.3s ease;
        }

        &:active {
            transform: scale(0.95);
        }
        .light{
            color: rgba(0, 0, 0, 0.7);
        }
    }

    &__badge {
        position: absolute;
        top: -2px;
        right: -1px;
        background: linear-gradient(135deg, #ff6b6b, #ff5252);
        color: white;
        border-radius: 50%;
        width: 18px;
        height: 18px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 12px;
        font-weight: bold;
       
    }
}
