header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;

    .header__fluid--top {
        background-color: #7a6fbe;

        .header__fluid {
            height: 70px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            position: relative;
            z-index: 1000;

            .header__logo-lexa {
                display: flex;
                align-items: center;
                gap: 40px;

                .logo__lexa {
                    height: 19px;
                }

                .logo {
                    height: 19px;
                    display: none;
                }

                .menu {
                    color: #ccc;
                    width: 20px;
                    height: 20px;
                    cursor: pointer;
                    display: none;
                }
            }

            @media (max-width: 992px) {
                .header__logo-lexa {
                    .logo__lexa {
                        display: none;
                    }

                    .logo {
                        display: block;
                    }

                    .menu {
                        display: block;
                    }
                }

                .menu-toggle {
                    display: flex;
                }
            }

            .header__controls {
                display: flex;
                align-items: center;
                justify-content: flex-end;
                gap: 16px;
                flex: 1;
                margin-left: 40px;
            }
            .header__actions {
                display: flex;
                align-items: center;
                gap: 12px;
            }
            @media (max-width: 380px) {
                .header__logo-lexa {
                    img {
                        display: none !important;
                    }
                }
            }
        }
    }
}