.user-avatar {
    &__image {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        object-fit: cover;
        cursor: pointer;
        transition: all 0.3s ease;

        &:active {
            transform: scale(0.98);
        }
    }
}