.search-bar {
    display: flex;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 8px;
    padding: 0 12px;
    gap: 8px;
    transition: all 0.3s ease;
    border-radius: 100px;

    &__input {
        flex: 1;
        background: transparent;
        border: none;
        outline: none;
        color: rgba(255, 255, 255, 0.7);
        font-size: 14px;
        padding: 8px 0;
        min-width: 150px;
        transition: color 0.3s ease;


        &::placeholder {
            color: rgba(255, 255, 255, 0.5);
        }

        &:focus {
            color: rgba(255, 255, 255, 0.9);

            &+.search-bar__icon {
                color: rgba(255, 255, 255, 0.9);
            }
        }

       
    }

    &__icon {
        color: rgba(255, 255, 255, 0.6);
        flex-shrink: 0;
        transition: color 0.3s ease;
        cursor: pointer;



    }

    &:hover {
        background-color: rgba(255, 255, 255, 0.15);
        border-color: rgba(255, 255, 255, 0.3);
    }

    @media (max-width: 992px) {
        background-color: transparent;
        border: none;
        padding: 0;

        &__input {
            display: none;
        }

        &__icon {
            color: rgba(255, 255, 255, 0.7);
        }
    }
}