.fullscreen-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: none;
    border-radius: 6px;
    color: rgba(255, 255, 255, 0.7);
    cursor: pointer;
    transition: all 0.3s ease;
    .light{
        color: rgba(0, 0, 0, 0.7);
    }

    svg {
        transition: transform 0.3s ease;
    }
    

    &:active {
        transform: scale(0.95);
    }

    @media (max-width: 992px) {
        display: none;
    }
}
